img.svg {
    width: auto;
    height: 100px;
    background-color: white;
}

div.line{
    margin: 50px 0 0 0;
}

body{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#back_sound_block{
    position: absolute;
    right: 50px;
    background: white;
}

div#back_sound_block>img{
    width:50px;
    height:50px;
}